* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.header {
    height: 15%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.navbar {
    text-align: center;
    flex: 0.5;
}

.navbar {
    padding: 6px 20px;
    /* text-decoration: none; */
    color: rgb(67, 98, 70)!;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}




.btn {
    cursor: pointer;
    color: #566953;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid #dadebf;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 40px 8px;
    
}


#bigtxt {
    color: rgb(56, 94, 47);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    color: green !important;
}

.history {
    color: rgb(22, 24, 21);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    word-spacing: normal;
    padding: 30px 30px;
    border: 2px solid #dadebf;
}



/* Contact button */
.contact {
    width: 100%;
    height: 100vh;
    background-image: url(../images/s3.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 20% 20%;
    vertical-align: middle;


}

.hotline







/* Explore Sceneries Button */
.gallery {
    display: inline-block;
    align-items: center;
}
    
